h6.panel-title {
    font-size: 10px;
}

h4.panel-title {
    font-size: 14px;
    width: 100%;
}

.panel-resizable {
    resize: both;
    overflow: auto
}

.masked {
    opacity: 0;
}

.panel-body {
    background-color: #9d9d9d;
}

.panel-body-light {
    background-color: #cccccc;
}

.iconButton {
    float: right;
    opacity: 0.3;
    height: 16px;
    width: 16px;
}

.iconButton:hover {
    float: right;
    opacity: 1;
    height: 16px;
    width: 16px;
}

body {
    background-color: #737373;
}

@media (min-width: 200px) {
    .my-custom-container {
        width: 1400px;
    }
}
