//--------------------------------------------------------------
//                      Thème Bleu.
//--------------------------------------------------------------
// on peux mettre des commentaires. la ligne doit commencer par // (deux slashs)
// la syntaxe est :
//      nom_de_la_cle : valeur
// le nom de la clé est une chaine simple sans espace ni caractères accentués (les _ sont autorisés)
// la valeur est :
//      soit quatre valeurs R G B A définissant une couleur (sur PC la valeur alpha est ignorée)
//      soit une chaine entre "
//      soit une valeur entière


// on peut donner un nom au thème
Name : "Bleu"
// ou plutôt un chaine localisée
LocalizedKey : "HNLOC_THEME_HEREDIS_BLEU"

// Couleur de fond et de sélection //

Background : 23 85 156 255
SelectedBorderColor : 108 176 255 255

// Couleur des bordures de cases //

MainBorderColor: 200 200 203 255
MajorBorderColor : 200 200 203 255
MinorBorderColor: 236 239 243 255
SeparatorBorderColor : 155 157 160 255

// Couleur de fond de cases PC, Lignée et autres //

MainBackgroundColor : 255 255 255 255
MajorBackgroundColor : 255 255 255 255
MinorBackgroundColor : 223 223 223 255

// Couleur des textes //

MainTextColor1 : 32 32 32 255
MainTextColor2 : 108 108 108 255
MajorTextColor1 : 32 32 32 255
MajorTextColor2 : 108 108 108 255
MinorTextColor1 : 32 32 32 255
MinorTextColor2 : 86 91 96 255

// Couleur des liens //

MajorLinkColor : 108 176 255 255
MinorLinkColor : 255 255 255 255

// Arrondi de la case pour NF //

CoreBorderRadius : 15

// Couleur de fond des médias //

MainMediaBackgroundColor : 150 150 150 255
MajorMediaBackgroundColor : 150 150 150 255
MinorMediaBackgroundColor : 150 150 150 255

// Couleur des textes pour la case d’ajout d’individu //

AddIndividuTextColor : 66 66 66 255
AddIndividuTextOverColor : 84 152 220 255

// Couleur texte de la case conjoint //

SpouseFETextColor1 : 230 230 230 255
SpouseTextColor1 : 230 230 230 255

// Couleur case Ajout Individu XXL //

MainFakePersonBorderColor : 108 176 255 255
MainFakePersonBackgroundColor : 108 176 255 255

// Couleur de fond de l’onglet, le titre et les bandeaux des différents onglets //

FondOnglet : 240 240 240 255
FondBandeauTitre : 23 85 156 255
FondBandeauIdentite : 245 245 245 255
FondBandeauMulticritere : 245 245 245 255
TexteBandeauTitre : 255 255 255 255
TexteBandeauIdentite : 32 32 32 255
TexteBandeauIdentiteExt : 255 255 255 255

// Couleur des boutons d’onglets //

couleurBoutonSousOngletFond : 52 126 210 255
couleurBoutonSousOngletContour : 255 255 255 255
couleurCaseSurvol : 233 233 233 255

// Couleur des textes des boutons d’onglets //

OngletTexte : 255 255 255 255
OngletTexteActif : 255 255 255 255
OngletTexteSurvol : 235 235 235 255

// Couleur des cases et traits de l’ascendance dynamique //

AscendanceCouleurHomme : 152 203 4 255
AscendanceCouleurFemme : 198 229 93 255
AscendanceCouleurInconnu : 235 227 87 255
AscendanceCouleurtrait1 : 152 194 29 255
AscendanceCouleurtrait2 : 166 212 32 255
AscendanceCouleurtrait3 : 177 225 36 255
AscendanceCouleurtrait4 : 186 237 37 255

// Couleur du texte dans les boutons //

ButtonTextColor : 255 255 255 255

// Arrondis des cases et des traits de liaison //

BorderRadius : 6
LinkRadius : 6
