body
{
	background: url("images/bck.jpg") no-repeat center fixed #fff;
	font-family: 'Quicksand', Segoe UI, Arial, Helvetica, serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.03em;
	color: #fff;
	overflow: hidden;
	margin:0 auto;
	color:#fff;
	 -webkit-background-size: cover; /* pour Chrome et Safari */
 -moz-background-size: cover; /* pour Firefox */
 -o-background-size: cover; /* pour Opera */
 background-size: cover; /* version standardisée */

}
strong
{
	/*color:#d44698;*/
	color:#9fafd9;
	transition:all 0.4s ease-in-out;}
#blocVersion:hover strong {color:#EFB344;}

a
{	color:#EFB344;
	text-decoration:none;
	transition:all 0.4s ease-in-out;
	
}
a::before {content: '» ';}

a:hover
{	font-size:14.5px;
	text-decoration:underline;
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%   { top : -125px; }
  100% { top : 22px; }
}
@keyframes NAME-YOUR-ANIMATION {
  0%   { top : -125px; }
  100% { top : 22px; }
}
.Heredis
{
	background-color:rgba(0,0,0,0.7);
	text-align:center;
	font-size:40px;	
	margin:25px 0px 25px 0px;
	position: absolute;
	top : 22px;
	width:100%;	
		
 -webkit-animation: NAME-YOUR-ANIMATION 1.2s 1; /* Safari 4+ */
  animation:         NAME-YOUR-ANIMATION 1.2s 1; /* IE 10+, Fx 29+ */
}

/* Bloc version */
@-webkit-keyframes blocVersion-ANIMATION {
  0%   { left: -725px; }
  70%   { left: -725px; }
  100% { left: 0; }
}
@keyframes blocVersion-ANIMATION {
  0%   { left: -725px; }
  70%   { left: -725px; }
  100% { left: 0; }
}
#blocVersion
{
	background-color:#000000;
	opacity:0.8;
	padding:15px;
	position: absolute; top: 120px; left: 0;
	margin:25px;
	width : 500px;
	transition:all 0.4s ease-in-out;
	-webkit-animation: blocVersion-ANIMATION 1.7s 1; /* Safari 4+ */
	animation:         blocVersion-ANIMATION 1.7s 1; /* IE 10+, Fx 29+ */
	color:#fff;
}

#blocVersion:hover
{
	background-color:#086E9A;
	padding:20px;
	margin:20px;
	opacity:0.9;
}

/* Bloc Licence */
@-webkit-keyframes blocLicence-ANIMATION {
  0%   { left: -725px; }
  70%   { left: -725px; }
  100% { left: 0; }
}
@keyframes blocLicence-ANIMATION {
  0%   { left: -725px; }
  70%   { left: -725px; }
  100% { left: 0; }
}
#blocLicence
{
	background-color:#000000;
	opacity:0.8;
	padding:15px;
	position: absolute; top: 270px; left: 0;
	margin:25px;
	width : 500px;
	transition:all 0.4s ease-in-out;
	-webkit-animation: blocLicence-ANIMATION 1.9s 1; /* Safari 4+ */
	animation:         blocLicence-ANIMATION 1.9s 1; /* IE 10+, Fx 29+ */
}

#blocLicence:hover
{
	background-color:#086E9A;
	padding:20px;
	margin:20px;
	opacity:0.9;
}

/* Bloc Copyrights */
@-webkit-keyframes blocCopyrights-ANIMATION {
  0%   { left: -725px; }
  70%   { left: -725px; }
  100% { left: 0; }
}
@keyframes blocCopyrights-ANIMATION {
  0%   { left: -725px; }
  70%   { left: -725px; }
  100% { left: 0; }
}
#blocCopyrights
{
	background-color:#000000;
	opacity:0.8;
	padding:15px;
	position: absolute; top: 400px; left: 0;
	margin:25px;
	width : 500px;
	transition:all 0.4s ease-in-out;
	-webkit-animation: blocCopyrights-ANIMATION 2.3s 1; /* Safari 4+ */
	animation:         blocCopyrights-ANIMATION 2.3s 1; /* IE 10+, Fx 29+ */
}

#blocCopyrights:hover
{
	background-color:#086E9A;
	padding:20px;
	margin:20px;
	opacity:0.9;
}




