.marker-cluster-small {
	width: 80px !important;
	height: 63px !important;
	background: url('../images/markers/ico-event-num-small.png') center bottom no-repeat;
}
.marker-cluster-medium {
	background-color: rgba(83, 161, 241, 0.6);
	background: url('../images/markers/ico-event-num.png') center bottom no-repeat;
	width: 80px !important;
	height: 63px !important;
}
.marker-cluster-large {
	background: url('../images/markers/ico-event-num-medium.png') center bottom no-repeat;
	width: 80px !important;
	height: 63px !important;
}
.marker-cluster-smallx {
	width: 80px !important;
	height: 63px !important;
	background: url('../images/markers/ico-event-num-smallx.png') center bottom no-repeat;
}
.marker-cluster-mediumx {
	background-color: rgba(83, 161, 241, 0.6);
	background: url('../images/markers/ico-event-numx.png') center bottom no-repeat;
	width: 80px !important;
	height: 63px !important;
}
.marker-cluster-largex {
	background: url('../images/markers/ico-event-num-mediumx.png') center bottom no-repeat;
	width: 80px !important;
	height: 63px !important;
}
	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
}
.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
}
.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}
.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 24px;
	margin-top: 3px;

	text-align: center;
	border-radius: 15px;
	font: 13px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color:#fff;
	font-weight:bold;
}
.marker-cluster span {
	line-height: 48px;
	
}
.marker-clustering div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-clusteing span {
	line-height: 30px;
} 
.marker-clustering {
	background-clip: padding-box;
	border-radius: 20px;
}
